/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: "微软雅黑";
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #363B3F;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a ,.nav-sidebar > li > a:hover,.nav-sidebar > li > a:focus{
  padding-right: 20px;
  padding-left: 20px;
  color: #aaa;
  border-top:1px solid #5C5C5C;
  background: none;
  outline:none;
  position:relative;
}
.nav-sidebar > li.active > a span.selected{
   background-image: url("../img/sidebar-menu-arrow.png");
    display: block;
    float: right;
    height: 25px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 8px;
}
.nav-sidebar li.active a.sidebar-nav{
      color:#fff;
      background-color: #E02222 ;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.login {
	float:left;
	width:100%;
	margin-top:-50px;
	padding:0 20px;
	background:url(../img/login-bg.jpg) top center;
}
.login .main {
	margin-top:100px;
	padding:30px 40px 40px;
	background:url(../img/reg_bg1.png);
	border-radius:5px;
	box-shadow:3px 3px 5px #333;
}
.login .main h2 {
	margin-top:0;
	margin-bottom:30px;
	font-size:24px;
	color:#333;
}
.navbar-inverse .navbar-brand { color:#fff;}
.navbar-brand span{
    color:#b12020;
}
.nav-sidebar > li  ul{  padding:0;}
.nav-sidebar > li  ul > li {
    background: #303030;
    margin-top: 1px !important;
    font-size: 14px;
    font-weight: 300;
    padding-left: 44px !important;
    padding-bottom: 8px;
    padding-right: 0;
    padding-top: 8px;
    text-decoration: none;
    color:#AEB2B7;
}
.nav-sidebar > li  ul > li:hover,.nav-sidebar > li  ul > li.active  { background: #666; color:#fff;}
.fl{ float:left; display:inline;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix{display:inline-block}
.user-data{ width:100%;}
.user-data h4,.user-data p{ padding-left:10px; float:left; font-size: 14px;
    font-weight: bold;
    text-decoration: none;}
.user-data a {opacity: 0.3; margin-right: 12px;}
.user-data a :hover{opacity: 0.4;}
.user-data a i{ color:#fff; font-size:16px;}