/**
 *****************************************
 *
 * 管理后台页面样式
 *
 ****************************************
 */

@charset "utf-8";

body { background-color: #fff; font:12px Arial, Verdana, Helvetica, sans-serif; text-align:center; color:#333; }
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, blockquote, h1, h2, h3, h4, h5, h6 { padding:0; margin:0 }
table, td, tr, th { font-size:12px }
input, select { vertical-align: middle; }
table { margin:0 auto }
img { border:none }
ol, ul, li{ list-style:none }
em { color:#999; font-family: Tahoma, Verdana, helvetica; font-size: 10px; font-style: normal; white-space: nowrap; }

/* 连接 */
a { color:#005fab; text-decoration:none }
a:link { color:#3b5999; text-decoration:none }
a:visited { color:#3b5999; text-decoration:none }
a:hover { color:#3b5999; text-decoration:underline }
a:active { color:#3b5999 }







/*头部*/
.header { height:75px;_height:75px; text-align:left; margin:0 auto; background:#2E4C8C url(../images/header_bg.gif) repeat-x 0px bottom; z-index:1; border-bottom:5px solid #1e325c; position:relative }
.header .logo { position:absolute; top:0px; left:0px; background: url(../images/logo.jpg) no-repeat 0px 0px; height:65px; width:200px; }
.header .logo a { height: 59px; width: 200px; display: block; text-decoration: none; }
.header .main_nav { position:absolute; bottom:0; left:200px; }
.header .main_nav a { width:75px; height:31px; display:inline-block; font-size:14px; color:#FFF; text-align:center; line-height:31px; }
.header .main_nav a.on { background: url(../images/nav_tab.gif) no-repeat 0 0; }
.header .nav_sub { text-align:right; color:#fff; position:absolute; right:10px; top:5px; white-space:nowrap; }
.header .nav_sub a { color:#fff; }
.header_line { background-color:#dee4ed; height:9px; padding-left:200px }
.header_line span { background:#dee4ed url(../images/top_line.gif) repeat-x 0 0; height:9px; display:block; overflow:hidden; }


/*左侧菜单*/
.LeftMenu {height: auto; margin-left:5px; text-align:left }
.MenuList ul, .MenuList li { list-style-type: none; float:left; width:100% }
.MenuList a { display: block; width: 100%; line-height: 32px; float:left }
.submenu { display: none; }
.submenu li a { text-indent: 30px; }
.submenu li { color: #FFFFFF; background-image: url(../images/submenuA.gif); background-repeat: no-repeat; background-position: left bottom;}
.submenuA { color: #FFFFFF; background-image: url(../images/submenuA.gif); background-repeat: no-repeat; background-position: left bottom; }
.submenuB { color: #FFFFFF; background: url(../images/submenuB.gif) no-repeat 0 0; }
.treemenu { color: #FFFFFF; background: url(../images/ArrOn.png) no-repeat; text-indent: 25px; margin-bottom: 5px; }
a.actuator:link, a.actuator:visited, a.actuator:hover, a.actuator:active { color: #FFFFFF; margin: 0px; padding: 0px; font-size:14px; font-weight:bold; }
#switchPoint { cursor: pointer; }

/*右侧内容*/
.content {text-align:left; margin:0 10px; }

/*表单样式*/
.form { padding-top:10px; border-top:2px solid #9cb8cc; }
.form h3 { line-height:30px; font-size:12px; color:#333; border-bottom:1px solid #9cb8cc; }
.form dl { }
.form dt { float:left; margin:0; padding:20px 0 0; text-align:right; width:170px; color:#333 }
.form dd { margin-left:170px; padding:18px 0 20px 10px; }
.form dd label { display:block; padding-bottom:3px; }
.form dd .radio { margin-bottom:5px; }
.form p { color:#7d7d7d; line-height:20px; margin:0; padding:0 }
.page_btm { padding:10px 0; border-top:1px solid #9cb8cc;text-align:center }

/*翻页*/
.page {text-align: center }
.page a { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: #333; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none }
.page a:hover { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.page a:active { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.page span.current { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #000; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #FFF }
.page span.disabled { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: #333; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.page span.quantity { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: #333; MARGIN-RIGHT: 2px; PADDING-TOP: 2px }
.topic_tips { margin-top: 3px; position: relative; margin-bottom:8px; width:250px;}
.topic_arr { background: url("images/topic_arr.gif") no-repeat scroll 0 0 transparent; height: 6px; left: 11px; position: absolute; top: -5px; width: 11px; }
.topic_info { background-color: #F9FAFA; border: 1px solid #C2D1D5; padding: 7px 10px 6px; }



/*通用样式*/
textarea {font-size:12px;}
.tips {color:#999; font-size:12px;}

h1.title {margin-bottom:10px; border-bottom: 2px solid #9CB8CC; font-size:14px; font-weight:bold; color:#1e325c; line-height:40px;}

/*页面选项卡*/
.tabs { height:30px; margin:10px 0;  padding:5px 5px 0;  background:#d2dbea; }
.tabs ul { }
.tabs li { float:left; }
.tabs li a { padding:0 13px; line-height:30px; display:block; font-size:14px; }
.tabs li.current a{ background:#fff; color:#333 }


/*搜索栏*/
.search{margin:10px 0; padding:10px; background:#f6f6f6; border:0px solid #dbdbdb;}
.search table {width:100%;}
.search th {text-align:right;}
.search td {text-align:left;}
.search td.add{text-align:right;}
.search input{height:21px; border:1px solid #d6d6d6; line-height:21px;}
.search .btn {padding:0 5px; height:25px; line-height:25px;}
.search .search-btn {
    background-color:#2F456A; background-image: -moz-linear-gradient(center top , #6F96D3, #4B70AA); background-repeat: repeat-x;
	border:none; border-radius:2px; color:#fff; text-align: center; 
}

/*工具栏*/
.toolbar {background-color:#d2dbea; padding:5px; line-height:26px; border-bottom:1px solid #c8cfda }
.toolbar .btn, .toolbar .btn span {background:#fcfcfc url(../images/btn_a.gif) no-repeat; cursor:pointer; }
.toolbar .btn {background-position:0 0; margin-right:5px; padding-left:8px; display:inline-block; line-height:26px; color: #333; text-decoration: none; }
.toolbar .btn span { padding-right:8px; display:inline-block; background-color: #fcfcfc; background-position: right 0; }
.toolbar .btn:hover {background-position: 0 -26px; }
.toolbar .btn:hover span {background-position: right -26px;}



/*表单样式*/
.edit {}
.edit dl {clear:both; padding:15px 0;  border-bottom:1px dashed #e2e2e2}
.edit dt {float:left; width:100px; text-align:right; color:#333 }
.edit dt span {color:#F00 }
.edit dd {margin-left:105px; vertical-align:middle }
.edit p.tips {line-height:24px; color:#999;}
.edit label {padding-left:5px}
.edit .btn {padding:0 15px; height:28px; line-height:28px;}
.edit .submit-btn {
    background-color:#2F456A; background-image: -moz-linear-gradient(center top , #6F96D3, #4B70AA); background-repeat: repeat-x;
	border:none; border-radius:2px; color:#fff; text-align: center; 
}

/*列表样式*/
.page { }
.page span { margin-right:5px; }
.list { padding-top:1px }
.list .empty {padding:30px 0; text-align:center; font-size:12px;}
.list table { }
.list table th { background-color:#f2f4f6; border-bottom:1px solid #c1c8d2; height:21px; text-align:left; padding-left:5px; color:#7d7d7d; font-weight: normal; }
.list table th.line_l { background: #f2f4f6 url(../images/th_bg.gif) repeat-y 0 0 }
.list table td { padding:6px 0 6px 5px; border-bottom:1px solid #e3e6eb; }
.list_btm {padding-left:10px; background-color:#F7F7F7; line-height:32px; border-bottom:1px solid #9DB8CB; clear:both; }
.sort { float:left; width:100% }
.sort li { clear: both; line-height:30px; _height:30px; }
.sort li.line { border-bottom:1px solid #e3e6eb; }
.sort li div { text-indent: 5px; line-height:30px; }
.sort li.tit { background-color:#f2f4f6; border-bottom:1px solid #c1c8d2; color:#7d7d7d; height:21px; }
.sort li.tit div { height:21px; line-height:21px; }
.sort .line_l { background: #f2f4f6 url(../images/th_bg.gif) repeat-y 0 0 }
.sort li .c1 { float:left; }
.sort li .c2 { float:right; width:60px; }
.sort li .c3 { float:right; width:150px; }
.ico_top img, .ico_btm img { background: url(__PUBLIC__/Admin/images/ico_top_btm.gif) no-repeat; height: 14px; width: 12px; }
.ico_top, .ico_btm { vertical-align:middle; }
.ico_top img { background-position:-12px 0; }
.ico_btm img { background-position:-24px 0; }
.ico_top:hover img { background-position:0 0; }
.ico_btm:hover img { background-position:-35px 0; }
